head
    link(rel='stylesheet', type='text/css', href='../css/main.css')
    script(src='https://code.jquery.com/jquery-3.2.1.min.js')
body
    form#order_form(method='POST' action=shop_id) 
        -let create_list=[];
        p  團購店名：
        //-
        p 結束時間：
            input(type='datetime-local', style='display:inline', name='end_time')
        -let order=['麥當勞']
        -let food=[['主餐','炸雞','漢堡'],['副餐','薯條','沙拉'],['飲料','紅茶','奶茶','垃圾飲料']]
            each val,i in order
                    p 店名：#{val} 
                    //- val.shop_name
            each val in food
                .body_div
                    span#kind  種類：#{val[0]}
                    //- val.kind
                each val,i in food
                    div.food_menu
                        each k,j in food[i]
                            if j >0
                                span #{food[i][j]}
                                p 價格：
                                br.
                input(type='submit' value='確定')
    script.
        for (let i in document.querySelectorAll(".body_div"))
            document.querySelectorAll(".body_div")[i].id = i;
        for (let i in document.querySelectorAll(".food_menu"))
            document.querySelectorAll(".food_menu")[i].id = 'food'+i;
        $('.food_menu').hide();
        $(function(){
            $(".body_div").click(function(click_id){
                $('.food_menu').hide();
                $('#food'+this.id).show();
                });
        });
        

