head
    link(rel='stylesheet', type='text/css', href='../css/main.css')
    script(src='https://code.jquery.com/jquery-3.2.1.min.js')
body
    -let create_list=[];
    p 結束時間：
        input(type='datetime-local' style='display:inline')
        p 店名：#{shop_name} 
                //- val.shop_name
        each val,key in menu
            .body_div
                span#kind  種類：#{key}
        form#order_form(method='POST' action='order_detail') 
            each val in menu
                div.food_menu
                    each k in val
                            span #{k.name}
                            p 價格：#{k.price} $
                            br.
            input(type='submit' value='確定')
    script.
        for (let i in document.querySelectorAll(".body_div"))
            document.querySelectorAll(".body_div")[i].id = i;
        for (let i in document.querySelectorAll(".food_menu"))
            document.querySelectorAll(".food_menu")[i].id = 'food'+i;
        $('.food_menu').hide();
        $(function(){
            $(".body_div").click(function(click_id){
                $('.food_menu').hide();
                $('#food'+this.id).show();
                });
        });
        

