head
    script(src='https://code.jquery.com/jquery-3.2.1.min.js')
    script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
    link(rel='stylesheet', href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
    link(rel='stylesheet', type='text/css', href='../css/main.css')
body
    include overview.pug
    form(method='POST',action='',name='create_menu',id='create_menu')
        sqan  店名：
        input(type='text',style='display:inline-block')#shop_name
        sqan#test 店家電話
        input(type='text',style='display:inline-block')#shop_phone
        button#go_create_menu 確定
        br
        div(style='text-align:center;min-height:15px;min-width:15px').body_div.plus_kinds 新增種類
        div(style='text-align:center;min-height:15px;min-width:15px').body_div.plus_food 新增餐點
        br
        div.kind_box 
script.
    let menu_num = []
    let food_num = []
    let list_now = 0 
    $('.plus_kinds').click(function(){
        food_num[menu_num.length]=0
        list_now = menu_num.length
        menu_num[menu_num.length]=0
        $('.create_food_menu').hide();
        $("<h1/>", {
            "class": "kinds_num",
            "id":list_now,
            "style":'width:50px;display:inline-block',
            "text": "種類"+menu_num.length
        }).appendTo(".kind_box")
        $("<div/>", {
            "class": "create_food_menu",
            "id": "menu"+list_now,
        }).appendTo('#create_menu');
        $("<input/>", {
            "class": "small_box",
            "id": 'shop_name'+list_now,
            "type":"text",
            "value": "請輸入種類名稱"
        }).appendTo("#menu"+list_now);


        console.log(food_num)
        console.log(menu_num)
    })
    $('.plus_food').click(function(){
        $("<br/>", {
        }).appendTo("#menu"+list_now);
        $("<span/>", {
            "text": "餐點名稱:"
        }).appendTo("#menu"+list_now);
        $("<input/>", {
            "class": "body_div",
            "id": "menu"+list_now+"_food"+food_num[list_now],
            "type":"text",
            "value": ""
        }).appendTo("#menu"+list_now);
        $("<span/>", {
            "text": "餐點價格:"
        }).appendTo("#menu"+list_now);
        $("<input/>", {
            "class": "body_div",
            "id": "menu"+list_now+"_price"+food_num[list_now],
            "type":"number",
            "value": "",
            "min":"0",
            "max":"100000"
        }).appendTo("#menu"+list_now);
        food_num[list_now]+=1
    })

    $('body').on("click", '.kinds_num', function () {
        $('.create_food_menu').hide();
        list_now =this.id;
        $('#menu'+list_now).show();
    });
    $('body').on("change", '.small_box', function () {
        $('#'+list_now).text(this.value)
        console.log(this.value)
        console.log(list_now)
    });