head
    link(rel='stylesheet', type='text/css', href='../css/main.css')
    script(src='https://code.jquery.com/jquery-3.2.1.min.js')
body    
    include overview.pug
    .top_iframe(style='margin-top:50px;')
        ul(style='margin:10px auto;display:table')
            a(href='/order')
                img(src='images/event.jpg')#events
            a(href='/create')
                img(src='images/restaurant.jpeg')#restaurant