head
    link(rel='stylesheet', type='text/css', href='../css/main.css')
    script(src='https://code.jquery.com/jquery-3.2.1.min.js')
body    
        .top_menu
            ul.top_menu_text
                h5#user_name
                h5#user_email
            div(style='height:1px;width:100%;background-color:black;')
            .top_iframe
                ul(style='margin-top:10px;')
                    a(href='events')
                        img(src='images/event.jpg')#events
                    a(href='create')
                        img(src='images/restaurant.jpeg')#restaurant
        script.
            
                      