//- extends index.pug
body
    span #{username}
    br.
    span #{useremail}
    ul(style="display:inline;margin:5 10px;")
        li
            a(href='/order',style="display:inline;margin:5 10px;") 我想要訂！
        li
            a(href='/order/history',style="display:inline;margin:5 10px;") 我訂過的！
        li
            a(href='/create',style="display:inline;margin:5 10px;") 我想發起！
        li
            a(href='/create/history',style="display:inline;margin:5 10px;") 我發起的！
        li
            a(href='/',style="display:inline;margin:5 10px;") 回首頁
    div(style='height:1px;width:100%;background-color:black;margin:20 0 ;')
    