head
    link(rel='stylesheet', type='text/css', href='../css/main.css')
    script(src='https://code.jquery.com/jquery-3.2.1.min.js')
body
    a(href='/create_history') 
        p 我的團購
    p 可選的團購
    
    each rest in res
        a(href='/create'+rest.id)=rest.name
            .body_div
                p=rest.address
                p=rest.phone
    script.
        for (let i in document.querySelectorAll(".body_div"))
            document.querySelectorAll(".body_div")[i].id = i;
        $(function(){
            $(".body_div").click(function(click_id){
                let c_id = this.id;
                console.log(c_id);
                        });
                        });
