head
    link(rel='stylesheet', type='text/css', href='../css/main.css')
    script(src='https://code.jquery.com/jquery-3.2.1.min.js')
body
    a(href='create_history') 
        p 我的團購
    p 可選的團購
    
    -let shop =['麥當勞','肯基基','北新自助餐']
    each val,i in shop
        a(href="/create")
            .body_div
                p #{val}
                //-val.shop_name
    